@page
@model WebTesting.Pages.LastSavedPostModel
@inject IHttpContextAccessor Accessor
@using WebTesting.Entities;
@using WebTesting.Utils
@using WebTesting.Entities.Enums;
<h2>@Model.Title</h2>
<p>@Model.Type<p>
		@switch (@Model.SessionResult)
		{
			case PostsResult.Success:
				@foreach (Post post in Model.Posts)
				{
					string link = "https://www.reddit.com" + post.PermaLink;
					<p>@post.Title - <a href="@link">thread</a></p>
				}
				break;
			case PostsResult.RedditApiError :
				<p>Failed to load your posts.</p>
				break;
			case PostsResult.Working:
			<p>We are still working on fetching your posts.</p>
				break;
			case PostsResult.UserNotLoggedIn:
			<p>You were not logged in when we tried to fetch your posts.</p>
			break;
			case PostsResult.NotFound:
			<p>Unexpected error occured.</p>
			break;
		}
