@page
@model WebTesting.Pages.Download.ProgressModel
@using WebTesting.Models;
@inject IHttpContextAccessor Accessor
@{
}


@if (Accessor.HttpContext.Session.GetString("UserName") == null)
{
            <div class="text-center">
                <p>You are not logged in.</p>
    </div>
}
else
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h2>Proggres of downloads</h2>
            </div>
        </div>
        <div class="row">
            <div class="col" style="border:1px solid red">
                <ul>
                    <!--Downloads-->
                    @foreach (Download download in Model.MyDownloads)
                    {
                        @if (download.IsFinished)
                        {
                            @if (download.IsDownloadable)
                            {
                                <div>
                                    Download @download.Id - @download.DownloadStart - @download.ProgressAbs / @download.ProgressAbsMax - Done
                                    <a asp-page-handler="Download" asp-route-id="@download.Id" class="btn btn-primary">Download</a>
                                    <a asp-page-handler="Delete" asp-route-id="@download.Id" class="btn btn-danger">X</a>
                                </div>
                            }
                            else
                            { 
                            <div>
                                Download @download.Id - @download.DownloadStart - @download.ProgressAbs / @download.ProgressAbsMax - Zipping
                            </div>
                            }

                        } else {
                            <div>
                                Download @download.Id - @download.DownloadStart - @download.ProgressAbs / @download.ProgressAbsMax - @download.ProgressRel %
                                <a asp-page-handler="StopAndDelete" asp-route-id="@download.Id" class="btn btn-danger">X</a>
                            </div>
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="row">
            <p>Note following: &ensp;  1) The maximum amount of dowloads kept for each user is 5.<br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp; 2) Any download older then 3 days will be deleted.<br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp; 3) User can have maximum of three concurrently running downloads.</p>
        </div>
    </div>
}