@page
@model WebTesting.Pages.Download.ProgressModel
@using WebTesting.Models;
@inject IHttpContextAccessor Accessor
@{
}


@if (Accessor.HttpContext.Session.GetString("UserName") == null)
{
            <div class="text-center">
                <p>You are not logged in.</p>
    </div>
}
else
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h2>Proggres of downloads</h2>
            </div>
            <div class="col-6 text-end">
                <form method="post" asp-page-handler="ShowFinished">
                    Show finished downloads:
                    <input name="show" asp-for="ShowFinished" type="checkbox" class="form-check-input">
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col" style="border:1px solid red">
                <ul>
                    @foreach (Download download in Model.MyDownloads)
                    {
                        @if (download.IsFinished)
                        {
                            @if (download.IsDownloadable)
                            {
                                <div>
                                    Download @download.Id - @download.DownloadStart - @download.ProgressAbs / @download.ProgressAbsMax - Done
                                    <button class="btn btn-primary">+</button>
                                    <a asp-page-handler="Download" asp-route-id="@download.Id" class="btn btn-primary">Download</a>
                                    <a asp-page-handler="Delete" asp-route-id="@download.Id" class="btn btn-danger">X</a>
                                </div>
                            }
                            else
                            { 
                            <div>
                                Download @download.Id - @download.DownloadStart - @download.ProgressAbs / @download.ProgressAbsMax - Done
                                <a asp-page-handler="Save" asp-route-id="@download.Id" class="btn btn-danger">+</a>
                                <a asp-page-handler="Delete" asp-route-id="@download.Id" class="btn btn-danger">X</a>
                            </div>
                            }

                        } else {
                            <div>
                                Download @download.Id - @download.DownloadStart - @download.ProgressAbs / @download.ProgressAbsMax - @download.ProgressRel %
                                <a asp-page-handler="Save" asp-route-id="@download.Id" class="btn btn-danger">+</a>
                                <a asp-page-handler="Delete" asp-route-id="@download.Id" class="btn btn-danger">X</a>
                            </div>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
}